/* Fondo gris oscuro para toda la página */
body {
    background-color: #656161;
    color: white;
    font-family: Arial, sans-serif;
}

/* Header */
.header {
    background-color: #4b0082; /* Morado oscuro */
    color: white;
}

/* Navbar */
.navbar {
    background-color: #4b0082; /* Morado oscuro */
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-nav .nav-link.active {
    color: #ff6347; /* Rojo tomate cuando está activo */
}

/* Toggle Switch */
.toggle-container {
    margin: 20px 0;
    text-align: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Sección de imágenes ocultas SBS */
#sbs-view {
    display: none;
}

#sbs-view.d-none {
    display: none;
}

#anaglyph-view {
    display: block;
}

#anaglyph-view.d-none {
    display: none;
}

/* Colores de los textos */
.text-muted {
    color: #ffffff !important;
}

/* Espaciado entre las imágenes */
.row {
    margin-top: 30px;
}

.col-md-4 {
    margin-bottom: 20px;
}

footer{
    background-color: #5e129c;
}
