/* Fondo gris oscuro para toda la página */
body {
    background-color: #2f2f2f;
    color: white;
}

/* Header */
.header {
    background-color: #4b0082; /* Morado oscuro */
    color: white;
}

/* Navbar */
.navbar {
    background-color: #4b0082; /* Morado oscuro */
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-nav .nav-link.active {
    color: #ff6347; /* Rojo tomate cuando está activo */
}

/* Botón toggle */
#toggle-view {
    background-color: cyan;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 16px;
}

#toggle-view.sbs-mode {
    background-color: #343a40; /* Gris oscuro */
    color: white;
}

#toggle-view:focus {
    outline: none;
}

/* Footer */
.footer {
    background-color: #4b0082; /* Morado oscuro */
    color: white;
}

.footer a {
    color: #ff6347;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

/* Imágenes */
img {
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Sección de imágenes ocultas SBS */
#sbs-view {
    display: none;
}

/* Colores de los textos */
.text-muted {
    color: #ffffff !important;
}

/* Espaciado entre las imágenes */
.row {
    margin-top: 30px;
}

.col-md-4 {
    margin-bottom: 20px;
}
/* styles.css */

#toggle-view {
    background-color: cyan;
    color: white;
    border: none;
}

#toggle-view.sbs-mode {
    background-color: #343a40; /* Gris oscuro */
    color: white;
}

.navbar-link-active {
    background: linear-gradient(to right, cyan, red); /* Degradado Cyan-Rojo */
    color: white;
}

.navbar-link-inactive {
    background-color: black;
    color: white;
}

